body{

    background-color: #F0F2F5;
    height: 800px;
    width: 1900px;

}

img{

 
    width: 350px;
    margin-left: 450px;
    margin-top: 200px;
    

}

.slogan{

    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 26px;
    width: 505px;
    margin-left: 485px;
    margin-top: -15px;
}

.wrapper{

    height: 350px;
    width: 400px;
    background-color: #FFFFFF;
    margin-left: 1060px;
    margin-top: -210px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #ddd;
}

input{

   height: 40px;
   width: 350px;
   margin-left: 18px;
   margin-top: 15px;
   border-radius: 5px;
   border: 2px solid #F0F2F5;
    padding: 5px;
}

::placeholder{

    font-size: 17px;
    padding: 10px;
}

.log_in{

    
    width: 366px;
    height: 50px;
    margin-left: 18px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #1877f2;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;

}

.forget_password{

    margin-left: 124px;
    line-height: 50px;
    color: #1877F2;
    text-decoration: none;
}

.forget_password:hover{

    text-decoration: underline;
}

.divide{

    height: 1px;
    width: 366px;
    background-color: #ddd;
    margin-left: 16px;
    margin-top: 5px;

}

.new_account{

    width: 200px;
    height: 50px;
    margin-left: 100px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 11px;
    border: none;
    background-color: #36A420;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;

}